*{
    font: 13px/1.5 '微软雅黑', Verdana, Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
    padding:0;
    margin:0;
    list-style:none;
    box-sizing: border-box;
}

body,html{
    height:100%;
}

.first{
	width:100%;
	height:100px;
	display: flex;
	margin:0 auto;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	background-color:#f0f0f0;
}
.firstContent{
	width:20%;
	height:80px;
	line-height:80px;
	float:left; 
	color:#fff;
	text-align: center;
}
.totalSale{
	width:80%;
	height:80px;
	margin:0 auto;
	background-color:#58a3f7;
	border-radius:10px;
}
.order{
	width:80%;
	height:80px;
	margin:0 auto;
	background-color:#fec03d;
	border-radius:10px;
}
.store{
	width:80%;
	height:80px;
	margin:0 auto;
	background-color:#52c1f5;
	border-radius:10px;
}
.goods{
	width:80%;
	height:80px;
	margin:0 auto;
	background-color:#fb6260;
	border-radius:10px;
}
.withdraw{
	width:80%;
	height:80px;
	margin:0 auto;
	background-color:#8167f5;
	border-radius:10px;
}
.num{
	width:100%;
	height:45px;
	font-size: 20px;
	font-weight: bold;
	padding-top: 6%;
}

.second{
	width:100%;
	height:190px;
	display: flex;
	margin:0 auto;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	background-color:#f0f0f0;
}
.secondBody{
	width: 96%;
	height:170px;
	background-color:#fff;
}
.secondTitle{
	width:100%;
	height:40px;
	line-height: 40px;
	padding-left: 15px;
	font-size: 12px;
	font-weight: 800;
}
.secondContent{
	width:8%;
	height:120px;
	float:left;
	text-align: center;
	margin-left: 10px;
}
.secondContent:hover{
	background-color:#f0f0f0;
	cursor: pointer;
}
.img{
	width:100%;
	height:80px;
	line-height: 90px;
}
.intros{
	font-size: 12px;
	color:#666;
}

.third{
	width:100%;
	height:200px;
	display: flex;
	margin:0 auto;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	background-color:#f0f0f0;
}
.thirdBody{
	width: 96%;
	height:180px;
	background-color:#fff;
}
.thirdTitle{
	width:100%;
	height:40px;
	line-height: 40px;
	padding-left: 15px;
	font-size: 12px;
	font-weight: 800;
}
.thirdContent{
	width:8%;
	height:130px;
	float:left;
	text-align: center;
	margin-left: 10px;
}
.thirdContent:hover{
	background-color:#f0f0f0;
	cursor: pointer;
}
.affairNum{
	padding-top:2%;
	color:red;
}

.fourth{
	width:100%;
	height:160px;
	display: flex;
	margin:0 auto;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	background-color:#f0f0f0;
}
.fourthBody{
	width: 48%;
	height:140px;
	margin-left: 20px;
	background-color:#fff;
}
.fourthTitle{
	width:100%;
	height:40px;
	line-height: 40px;
	padding-left: 15px;
	font-size: 12px;
	font-weight: 800;
}
.fourthContent{
	width:25%;
	height:100px;
	float:left;
	text-align: center;
}
.data{
	width:100%;
	height:50px;
	padding-top:25px;
	color:red;
	font-size: 18px;
}

.fifth{
	width:100%;
	height:160px;
	display: flex;
	margin:0 auto;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	background-color:#f0f0f0;
}
.fifthBody{
	width: 48%;
	height:140px;
	margin-left: 20px;
	background-color:#fff;
}
.fifthTitle{
	width:100%;
	height:40px;
	line-height: 40px;
	padding-left: 15px;
	font-size: 12px;
	font-weight: 800;
}
.fifthContent{
	width:25%;
	height:100px;
	float:left;
	text-align: center;
}

.sixth{
	width:100%;
	height:160px;
	display: flex;
	margin:0 auto;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	background-color:#f0f0f0;
}
.sixthBody{
	width: 96%;
	height:140px;
	background-color:#fff;
}
.sixthTitle{
	width:100%;
	height:40px;
	line-height: 40px;
	padding-left: 15px;
	font-size: 12px;
	font-weight: 800;
}
.sixthContent{
	width:12%;
	height:100px;
	float:left;
	text-align: center;
}

.seventh{
	width:100%;
	height:440px;
	display: flex;
	margin:0 auto;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	background-color:#f0f0f0;
}
.seventhBody{
	width: 96%;
	height:420px;
	background-color:#fff;
}
.layui-tab-title{
	margin-left:60%;
}
.layui-tab-card > .layui-tab-title .layui-this{
	border: 1px solid #3aa0ff;
	color:#3aa0ff;
}
.layui-tab-card > .layui-tab-title li{
	height:39px;
}
.layui-input{
}
.layui-input:hover{
	border-color: transparent !important;	
}
#test1{
	border-color: transparent !important;
	height:37px;
	width:110px;
	margin-left: -12px !important;
}
.seventhTitle{
	position: relative;
    top: 29px;
    left:1%;
    font-size: 12px;
	font-weight: 800;
}

.clear{
	width:100%;
	height:15px;
	display: flex;
	margin:0 auto;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	background-color:#f0f0f0;
}